<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h2>Hello, $name !</h2><br/>

#foreach( $new in $news )
<a href="$new.pageName">$new.title</a><br/>
#end

</body>
</html>
