<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h2>Hello !</h2><br/>
Current page id is $id<br/>

#foreach( $item in $items )
<a href="$item.pageName">$item.title</a><br/>
#end

</body>
</html>
